* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

#baner {background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url('../web-design/images/tim/pexels-auto-records-10126663.jpg');
    height: 62.5em;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: fixed;
}
#baner1 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url('../web-design/images/tim/pexels-auto-records-10126665.jpg');
    height: 62.5em;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: fixed;
}
#baner2{
    background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url('../web-design/images/tim/pexels-auto-records-10126666.jpg');
    height: 62.5em;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: fixed;
}
.logo{
    width:5em;
}
.logo:hover {
    cursor: pointer;
}

.navbar {
    width: 90%;
    padding: 2.2em 0;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height:8em;
    padding-top:0;
}

.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 1.25em;
    position: relative;
}

.navbar ul li a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    
}
.navbar ul li::after {
    content: '';
    height: 0.2em;
    width: 0;
    background: #fcba03;
    position: absolute;
    left: 0;
    bottom: -0.6em;
    transition: 0.5s;
    display:flex;
}

.navbar ul li:hover::after {
    width: 100%;
}

#content {
    width: 100%;
    text-align: center;
    position: absolute;
    transform: translateY(-50%);
    color: #fff;
    top: 40%;
}

#content h1 {
    font-size: 4.375em;
    margin-top: 3em;
}

#content p {
    margin: 1.25em auto;
    font-weight: 100;
    line-height: 1.5;
    font-size: 1.25em;
    font-weight: 700;
}

.button {
    width: 12em;
    padding: 1em 0;
    text-align: center;
    margin: 1em;
    border: 0.1em solid yellow;
    border-radius: 0.3em;
    font-weight: bold;
    background: transparent;
    color: white;
    animation: bordercolor 2s infinite alternate;
}
@keyframes bordercolor{
    from {border-color: yellow;}
    to {border-color: red;}
}

.button:hover {
    cursor: pointer;
    background-color: black;
    transition: 0.5s;
}

.why-choose-us1 {
    display: flex;
    width: 100%;
}

.why-choose-us1 a:link {
    text-decoration: none;
    color: transparent;

}

#why-choose-us {
    background-color: #f4f4f4;
    padding: 2.5em 0;
    text-align: center;
    padding-top: 5%;
}

html {
    scroll-behavior: smooth;
}

.reason {
    height: 37.5em;
    width: 25em;
    margin: 7em;
    margin-top: 2em;
    background-color: black;
    border: 1.2em solid;
    border-radius: 0.9em;
    margin-bottom: 1.2em;
    margin-right: 7.7em;
}
/*.reason:hover{
    border: 2em solid;
    transition: 0.5s;
    box-shadow: 0 0 60px#000;
}
*/
.wrap{
    width: 100%;
    height:62.5em;
    background-image:linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url('../web-design/images/bb87b255392609.5f63b1d2d6124.jpg') ;
    text-align: center;
}
.wrap h1{
    color:#fff;
    text-align: center;
    padding-top: 8em;
}
.wrap hgroup{
    text-align:center;
    color:#fff;
    padding-top:5em;
    font-weight: 700;
    
}
.btnvf{
    width: 12em;
    padding: 1em 0;
    text-align: center;
    margin: 1em;
    border: 0.1em solid yellow;
    border-radius: 0.3em;
    font-weight: bold;
    background: transparent;
    margin-top: 4em;
}
.btnvf:hover{
    cursor: pointer;
    box-shadow: 0px 0px 10px #fff;
    transition: 0.5s;
    background-color: #000;
    width:12.2em;
    height:3.5em;
    transition:0.5s;
}
.reason h2 {
    color: #fff;
    padding-top: 10%;
}
.btnvf{
    text-decoration: none;
    color: #fff;
}
.reason p {
    color: white;
    font-size: 1.1em;
    line-height: 1.5;
}

.photo1 {
    height: 27em;
    width: 70%;
    padding-top: 6%;
}

.photo2 {
    height: 28.4em;
    width: 70%;
}

.photo3 {
    height: 27em;
    width: 70%;
    margin-top: 6%;
}

#why-choose-us h1 {
    font-size: 3.1em;
}

#main {
    width: 100%;
    text-align: center;
    position: absolute;
    transform: translateY(-50%);
    color: #fff;
    top: 40%;
    padding-top: 5em;
}

#main h1 {
    font-size: 4.4em;
}

#main h2 {
    color: white;
    text-align: center;
    padding-top: 5%;
    padding-left: 3.75%;
    padding-right: 3.75%;
    max-width: 80em;
}

#main h3 {
    color: white;
    text-align: center;
}

.button1 {
    width: 12em;
    padding: 1.4em 0;
    text-align: center;
    margin: 1.2em 0.6em;
    border: 0.125em solid rgb(81, 184, 224);
    border-radius: 0.3125em;
    font-weight: bold;
    background: transparent;
    color: rgb(81, 184, 224);   
}

.button1:hover {
    cursor: pointer;
    background-color: black;
    transition: 0.5s;
}

.button2 {
    width: 3.1em;
    height: 3.1em;
    text-align: center;
    margin: 1.25em 0.6em;
    border: 0.1em solid rgb(81, 184, 224);
    border-radius: 50%;
    font-weight: bold;
    background: transparent;
    position: relative;
}

.button2 p {
    color: rgba(81, 184, 224);
    font-size: 2.5em;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    top: 40%;
}
.button2:hover {
    cursor: pointer;
    background-color: #000;
    transition: 0.5s;
    
}

.bothbuttons {
    text-align: center;
}

#O_osnivacu {
    height: 62.5em;
    width: 100%;
    background-color: white;
    text-align: center;
}
.section{
    min-height: 62.5em;
    background-image: linear-gradient(rgba(0,0,0,0.70), rgba(0,0,0,0.70)), url('../web-design/images/IMG_1134.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
}
.hero{
    width:80%;
    margin:auto;
    padding:1.8rem 0;
}
.article h1{
    font-size: 3.1rem;
    font-weight:500;
    color:rgb(81, 184, 224);
}
.article h1::after{
    content:'';
    height: 0.2rem;
    width: 14rem;
    background-color:rgb(81, 184, 224);
    display: block;
    margin:auto;
}
.article h5{
    
    font-size: 2rem;
    font-weight: 500;
    margin-top: 1.8rem;
    color:rgb(81, 184, 224);
}
.article p{
    font-size: 1.1rem;
    color:#fff;

}
.hero img{
    margin:auto;
    display:block;
    margin-top:2.5rem;
    height:18rem;
    width: 13.7em;
    border-radius:50%;
    border:0.2rem solid #000;
}
.about-me{
    font-size: 1rem;
    color: #ccc;
    line-height: 1.5;
}
.cleaner {
    clear: both;
}

footer {
    background-color: #111;
}

.footerContainer {
    width: 100%;
}

.socialIcons {
    display: flex;
    justify-content: center;
}

.socialIcons a {
    text-decoration: none;
    margin: 1.25em;
}

.socialIcons a i {
    font-size: 2em;
    color: white;
    opacity: 0.9;
    
}

.slika6 {
   
    color: white;
}

.footerNav {
    margin-bottom: 1.8em;
}

.footerNav ul {
    display: flex;
    justify-content: center;
}


.footerNav ul li a {
    color: white;
    margin: 1.25em;
    text-decoration: none;
    font-size: 1.3em;
    opacity: 0.7;
    transition: 0.5s;
}

.footerNav ul li a:hover {
    opacity: 1;
}

.footerBottom {
    background-color: black;
    padding: 1.25em;
    text-align: center;
}

.footerBottom p {
    color: white;
}

.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 1.25em 6.25em;
}

.container:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url('../web-design/images/sport/pexels-erik-mclean-5214417.jpg') no-repeat center;
    background-size: cover;
    z-index: -1;
    filter: blur(0.5em);
}

.contact-box {
    max-width: 53.1em;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #fff;
    box-shadow: 0px 0px 1.1875em 0.3125em black;
}

.left {
    height: 100%;
    background: url('../web-design/images/sport/pexels-pixabay-163582.jpg') no-repeat center;
    background-size: cover;
}

.right {
    padding: 1.6em 2.5em;
}
.field {
    width: 100%;
    border: 0.1em solid black;
    background-color: rgba(230, 230, 230, 0.6);
    font-size: 1em;
    margin-bottom: 1.4em;
    transition: 0.3s;
    padding: 0.5em;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.field:focus {
    background-color: white;
    border: 0.1em solid rgba(30, 85, 250, 0.47);
}

.area {
    min-height: 9.4em;
}

.btn {
    width: 100%;
    font-size: 1em;
    padding: 0.5em 1em;
    background-color: rgba(230, 230, 230, 0.6);
    cursor: pointer;
    outline: none;
    border: none;
}
.pic-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 2.5em 1.2em 0 1.2em;
}
.pic-container .pic-heading{
    width:15%;
    padding-bottom: 3.1em;

}
.pic-container .pic-heading h3{
    font-size: 3em;
    font-weight: bold ;
    border-bottom: 0.1em solid #222;
    padding-bottom: 0.2em;
}
.pic-container .box{
    display:flex;
    flex-direction: row;
    justify-content: space-between;

}
.pic-container .box .dream{
    display:flex;
    flex-direction: column;
    width:32.5%;
}
.pic-container .box .dream img{
    width:100%;
    margin-bottom: 0.9em;
    border-radius: 1em;
}
#main2{
    height:62.5em;
    background-image: linear-gradient(rgba(0,0,0,0.70), rgba(0,0,0,0.70)), url('../web-design/images/klasik/klasik.jpg');
    background-position: cover;
    background-repeat: no-repeat;
}
#main1{
    height:62.5em;
    background-image: linear-gradient(rgba(0,0,0,0.70), rgba(0,0,0,0.70)), url('../web-design/images/Avery+MAIN.jpg');
    background-position: cover;
    background-repeat: no-repeat;
}
#main3{
    height:62.5em;
    background-image: linear-gradient(rgba(0,0,0,0.70), rgba(0,0,0,0.70)), url('../web-design/images/sport/CRW_4105.jpg');
    background-position: cover;
    background-repeat: no-repeat;
}
#main4{
    height:62.5em;
    background-image: linear-gradient(rgba(0,0,0,0.70), rgba(0,0,0,0.70)), url('../web-design/images/CRW_4846.jpg');
    background-position: cover;
    background-repeat: no-repeat;
}
.contentbox{
    max-width: 60%;
    background-color:#000;
    height:43.75em;
    display:flex;
    position: absolute;
    left:23em;
    top:71em;
    
}
.contentbox1{
    max-width: 60%;
    background-color:#000;
    height:43.75em;
    display:flex;
    position: absolute;
    left:23em;
    top:135.4em;
}
.contentbox2{
    max-width: 60%;
    background-color:#000;
    height:43.75em;
    display:flex;
    position: absolute;
    left:23em;
    top:196.6em;
}
.contentbox3{
    max-width: 60%;
    background-color:#000;
    height:43.75em;
    display:flex;
    position: absolute;
    left:23em;
    top:259em;
}
.img1{
    width:30em
}
.leftside img{
    height: 38em;
    margin: 2em;
    border: 1px solid black;
    border-radius:1em;
}
.rightside{
    width:51em;
}
.rightside h1{
    color:white;
    text-align:center;
    padding-top:2em;
}
.rightside p{
    color:#fff;
    margin: 0 2em;
    padding-top:4em;
    font-size:1.5em;
}
.rightside span{
        font-weight: bold;
        display: table;
        margin: 0;
}